{{ '{{iflng::de}}' }}
{% if content.companies|length > 0 %}
<h3 class="headline">Bildernachweis</h3>
<p>Die Bilder, Fotos und Grafiken auf dieser Webseite sind urheberrechtlich geschützt.<br>
Die Bilderrechte liegen bei den folgenden Fotografen und Unternehmen:</p>
    <ul>
        {% for company in content.companies %}
            <li>{% if company.titleLink %}<a href="{{ company.link }}" target="_blank">{% endif %}{{ company.name }}{% if company.titleLink %}</a>{% endif %}{% if company.link and not company.titleLink %}, <a href="{{ company.link }}" target="_blank">{{ company.linkName }}</a>{% endif %}</li>
        {% endfor %}
    </ul>
{% endif %}
{{ '{{iflng::en}}' }}
{% if content.companies|length > 0 %}
<h3 class="headline">Photo Credits</h3>
<p>The pictures, photos and graphics on this website are protected by copyright.<br>
    The image copyrights belong to the following photographers and companies:</p>
<ul>
    {% for company in content.companies %}
        <li>{% if company.titleLink %}<a href="{{ company.link }}" target="_blank">{% endif %}{{ company.name }}{% if company.titleLink %}</a>{% endif %}{% if company.link and not company.titleLink %}, <a href="{{ company.link }}" target="_blank">{{ company.linkName }}</a>{% endif %}</li>
    {% endfor %}
</ul>
{% endif %}
{{ '{{iflng}}' }}