{{ '{{iflng::de}}' }}
<h2 class="headline">Haftungsausschluss</h2>
<p>Dieser Haftungsausschluss ist als Teil des Internetangebots zu betrachten, von dem aus auf diese Webseite verwiesen wurde. Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder nicht vollst채ndig entsprechen sollten, bleiben die 체brigen Teile des Dokumentes in ihrem Inhalt und ihrer G체ltigkeit davon unber체hrt.</p>
{{ '{{iflng::en}}' }}
<h2>Disclaimer</h2>
<p>EN TEXT</p>
{{ '{{iflng}}' }}