{{ '{{iflng::de}}' }}
<h3>Formulardaten und Kommentare</h3>
<p>Wenn Webseitenbesucher Kommentare oder Formulareinträge hinterlassen, werden die eingegebenen Daten und ihre IP-Adressen gespeichert. Das erfolgt zur Sicherheit, falls jemand widerrechtliche Inhalte verfasst (Beleidigungen, links- oder rechtsextreme Propaganda, Hasspostings usw.). In diesem Fall sind wir an der Identität des Verfassers interessiert.</p>
{{ '{{iflng::en}}' }}
<h3>Form data and comments</h3>
<p>EN TEXT</p>
{{ '{{iflng}}' }}