{{ '{{iflng::de}}' }}
<h3 class="headline">EU-Streitschlichtung</h3>
<p>Gemäß Verordnung über Online-Streitbeilegung in Verbraucherangelegenheiten (ODR-Verordnung) möchten wir Sie über die Online-Streitbeilegungsplattform (OS-Plattform) informieren.<br>
    Verbraucher haben die Möglichkeit, Beschwerden an die Online Streitbeilegungsplattform der Europäischen Kommission unter <a href="http://ec.europa.eu/odr" target="_blank">http://ec.europa.eu/odr</a> zu richten. Die dafür notwendigen Kontaktdaten finden Sie oberhalb in unserem Impressum.</p>
<p>Wir möchten Sie jedoch darauf hinweisen, dass wir nicht bereit oder verpflichtet sind, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
{{ '{{iflng::en}}' }}
<h3 class="headline">EU mediation</h3>
<p>In accordance with the Regulation on Online Dispute Resolution in Consumer Affairs (ODR Regulation), we would like to inform you about the online dispute resolution platform (OS platform).<br>
    Consumers have the opportunity to submit complaints to the European Commission's online dispute resolution platform at <a href="http://ec.europa.eu/odr" target="_blank">http://ec.europa.eu/odr</a>. The necessary contact details can be found above in our imprint.</p>
<p>However, we would like to point out that we are not willing or obliged to participate in dispute resolution procedures before a consumer arbitration board.</p>
{{ '{{iflng}}' }}