{{ '{{iflng::de}}' }}
<h3 class="headline">Newsletter Datenschutzerklärung</h3>
<p>Wenn Sie sich für unseren Newsletter eintragen übermitteln Sie die oben genannten persönlichen Daten und geben uns das Recht Sie per E-Mail zu kontaktieren. Die im Rahmen der Anmeldung zum Newsletter gespeicherten Daten nutzen wir ausschließlich für unseren Newsletter und geben diese nicht weiter.</p>
<p>Sollten Sie sich vom Newsletter abmelden – Sie finden den Link dafür in jedem Newsletter ganz unten – dann löschen wir alle Daten die mit der Anmeldung zum Newsletter gespeichert wurden.</p>
{{ '{{iflng::en}}' }}
<h3>Newsletter</h3>
<p>EN TEXT</p>
{{ '{{iflng}}' }}