{{ '{{iflng::de}}' }}
{% if not content.headline %}<h1 class="headline">Impressum</h1>{% endif %}
<p>Informationspflicht laut §5 E-Commerce Gesetz, §14 Unternehmensgesetzbuch, §63 Gewerbeordnung und Offenlegungspflicht laut §25 Mediengesetz</p>
<p>
    <strong>{{ content.companyName }}</strong><br>
    {% if content.subline %}{{ content.subline }}<br>{%  endif %}
    {% if content.street %}{{ content.street }}<br>{%  endif %}
    {% if content.postal and content.city %}{{ content.postal }} {{ content.city }}{%  endif %}
</p>
{% if content.objectOfTheCompany or content.VATnumber or content.companyWording or content.managingDirector or content.section %}
<p>
    {% if content.companyWording %}
        <strong>Firmenwortlaut:</strong> {{ content.companyWording }}<br>
    {% endif %}
    {% if content.managingDirector %}
        <strong>Geschäftsführer:</strong> {{ content.managingDirector }}<br>
    {% endif %}
    {% if content.section %}
        <strong>Fachgruppe:</strong> {{ content.section }}<br>
    {% endif %}
    {% if content.objectOfTheCompany %}
        <strong>Unternehmensgegenstand:</strong> {{ content.objectOfTheCompany }}<br>
    {% endif %}
    {% if content.VATnumber %}
        <strong>UID-Nummer:</strong> {{ content.VATnumber }}<br>
    {% endif %}
</p>
{% endif %}
<p>
    {% if content.phone %}
        {% if addContactLabel %}
            <span class="contact-label">Tel.:</span>
        {%  endif %}
        {{ content.phone }}<br>
    {% endif %}
    {% if content.fax %}
        {% if addContactLabel %}
            <span class="contact-label">Fax:</span>
        {%  endif %}
        {{ content.fax }}<br>
    {% endif %}
    {% if content.email %}
        {% if addContactLabel %}
            <span class="contact-label">Email:</span>
        {%  endif %}
        <a href="mailto:{{ content.email }}">{{ content.email }}</a><br>
    {% endif %}
    {% if content.website %}
        {% if addContactLabel %}
            <span class="contact-label">Web:</span>
        {%  endif %}
        <a href="{% if content.websiteLink %}{{ content.websiteLink }}{% else %}{{ content.website }}{% endif %}">{{ content.website }}</a>
    {% endif %}
</p>
{% if content.mitglied or content.berufsrecht or content.occupationalGroup %}
<p>
    {% if content.mitglied %}
        <strong>Mitglied bei:</strong> {{ content.mitglied }}<br>
    {% endif %}
    {% if content.berufsrecht %}
        <strong>Berufsrecht:</strong> {{ content.berufsrecht }}<br>
    {% endif %}
    {% if content.occupationalGroup %}
        <strong>Berufsgruppe:</strong> {{ content.occupationalGroup }}<br>
    {% endif %}
</p>
{% endif %}
{% if content.behoerde or content.beruf or content.country or content.companyRegister or content.firmengericht %}
    <p>
        {% if content.behoerde %}
            <strong>Aufsichtsbehörde/Gewerbebehörde:</strong> {{ content.behoerde }}<br>
        {% endif %}
        {% if content.beruf %}
            <strong>Berufsbezeichnung:</strong> {{ content.beruf }}<br>
        {% endif %}
        {% if content.companyRegister %}
            <strong>Firmenbuchnummer:</strong> {{ content.companyRegister }}<br>
        {% endif %}
        {% if content.firmengericht %}
            <strong>Firmengericht:</strong> {{ content.firmengericht }}<br>
        {% endif %}
        {% if content.country %}
            <strong>Verleihungsstaat:</strong> {{ content.country }}<br>
        {% endif %}
    </p>
{% endif %}
{% if content.additionalText %}
    {{ content.additionalText|raw }}
{% endif %}
{# <p>Quelle: Erstellt mit dem <a href="https://www.firmenwebseiten.at/impressum-generator/" target="_blank">Impressum Generator von firmenwebseiten.at</a> in Kooperation mit <a href="http://hashtagmode.at" target="_blank">hashtagmode.at</a></p>#}
{{ '{{iflng::en}}' }}
{% if not content.headline %}<h1 class="headline">Imprint</h1>{% endif %}
<p>Information obligation according to §5 E-Commerce Act, §14 Corporate Code, §63 Trade Regulations and Disclosure Obligation according to §25 Media Act</p>
<p>
    <strong>{{ content.companyName }}</strong><br>
    {% if content.subline %}{{ content.subline }}<br>{%  endif %}
    {% if content.street %}{{ content.street }}<br>{%  endif %}
    {% if content.postal and content.city %}{{ content.postal }} {{ content.city }}{%  endif %}
</p>
{% if content.objectOfTheCompany or content.VATnumber or content.companyWording or content.managingDirector or content.section %}
    <p>
        {% if content.companyWording %}
            <strong>Company Wording:</strong> {{ content.companyWording }}<br>
        {% endif %}
        {% if content.managingDirector %}
            <strong>managing Director:</strong> {{ content.managingDirector }}<br>
        {% endif %}
        {% if content.section %}
            <strong>Section:</strong> {{ content.section }}<br>
        {% endif %}
        {% if content.objectOfTheCompany %}
            <strong>Object of the COmpany:</strong> {{ content.objectOfTheCompany }}<br>
        {% endif %}
        {% if content.VATnumber %}
            <strong>VAT-Number:</strong> {{ content.VATnumber }}<br>
        {% endif %}
    </p>
{% endif %}
<p>
    {% if content.phone %}
        {% if addContactLabel %}
            <span class="contact-label">Phone:</span>
        {%  endif %}
        {{ content.phone }}<br>
    {% endif %}
    {% if content.fax %}
        {% if addContactLabel %}
            <span class="contact-label">Fax:</span>
        {%  endif %}
        {{ content.fax }}<br>
    {% endif %}
    {% if content.email %}
        {% if addContactLabel %}
            <span class="contact-label">Email:</span>
        {%  endif %}
        <a href="mailto:{{ content.email }}">{{ content.email }}</a><br>
    {% endif %}
    {% if content.website %}
        {% if addContactLabel %}
            <span class="contact-label">Web:</span>
        {%  endif %}
        <a href="{% if content.websiteLink %}{{ content.websiteLink }}{% else %}{{ content.website }}{% endif %}">{{ content.website }}</a>
    {% endif %}
</p>
{% if content.mitglied or content.berufsrecht or content.occupationalGroup %}
    <p>
        {% if content.mitglied %}
            <strong>Member of:</strong> {{ content.mitglied }}<br>
        {% endif %}
        {% if content.berufsrecht %}
            <strong>Berufsrecht:</strong> {{ content.berufsrecht }}<br>
        {% endif %}
        {% if content.occupationalGroup %}
            <strong>occupational group:</strong> {{ content.occupationalGroup }}<br>
        {% endif %}
    </p>
{% endif %}
{% if content.behoerde or content.beruf or content.country or content.companyRegister or content.firmengericht %}
    <p>
        {% if content.behoerde %}
            <strong>Authority / trade authority:</strong> {{ content.behoerde }}<br>
        {% endif %}
        {% if content.beruf %}
            <strong>Job Title:</strong> {{ content.beruf }}<br>
        {% endif %}
        {% if content.companyRegister %}
            <strong>Company register:</strong> {{ content.companyRegister }}<br>
        {% endif %}
        {% if content.firmengericht %}
            <strong>Firmengericht:</strong> {{ content.firmengericht }}<br>
        {% endif %}
        {% if content.country %}
            <strong>Verleihungsstaat:</strong> {{ content.country }}<br>
        {% endif %}
    </p>
{% endif %}
{% if content.additionalText %}
    {{ content.additionalText|raw }}
{% endif %}
{{ '{{iflng}}' }}