{{ '{{iflng::de}}' }}
<h3 class="headline">Rechte laut Datenschutzgrundverordnung (DSGVO)</h3>
<p>Ihnen stehen laut den Bestimmungen der DSGVO und des österreichischen <a href="https://www.ris.bka.gv.at/GeltendeFassung.wxe?Abfrage=Bundesnormen&Gesetzesnummer=10001597&tid=211063777">Datenschutzgesetzes (DSG)</a> grundsätzlich die folgende Rechte zu:</p>
<ul>
    <li>Recht auf Berichtung (Artikel 16 DSGVO)</li>
    <li>Recht auf Löschung („Recht auf Vergessenwerden“) (Artikel 17 DSGVO)</li>
    <li>Recht auf Einschränkung der Verarbeitung (Artikel 18 DSGVO)</li>
    <li>Recht auf Benachrichtigung – Mitteilungspflicht im Zusammenhang mit der Berichtigung oder Löschung personenbezogener Daten oder der Einschränkung der Verarbeitung (Artikel 19 DSGVO)</li>
    <li>Recht auf Datenübertragbarkeit (Artikel 20 DSGVO)</li>
    <li>Widerspruchsrecht (Artikel 21 DSGVO)</li>
    <li>Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung — einschließlich Profiling — beruhenden Entscheidung unterworfen zu werden (Artikel 22 DSGVO)</li>
</ul>
<p>Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich bei der Aufsichtsbehörde beschweren, welche in Österreich die Datenschutzbehörde ist, deren Webseite Sie unter <a href="https://www.dsb.gv.at/" target="_blank">https://www.dsb.gv.at/</a>finden.</p>
{{ '{{iflng::en}}' }}
<h3 class="headline">Rights according to the General Data Protection Regulation (GDPR, in German: DSVO)</h3>
<p>Ihnen stehen laut den Bestimmungen der DSGVO und des österreichischen <a href="https://www.ris.bka.gv.at/GeltendeFassung.wxe?Abfrage=Bundesnormen&Gesetzesnummer=10001597&tid=211063777">Datenschutzgesetzes (DSG)</a> grundsätzlich die folgende Rechte zu:</p>
<ul>
    <li>Recht auf Berichtung (Artikel 16 DSGVO)</li>
    <li>Recht auf Löschung („Recht auf Vergessenwerden“) (Artikel 17 DSGVO)</li>
    <li>Recht auf Einschränkung der Verarbeitung (Artikel 18 DSGVO)</li>
    <li>Recht auf Benachrichtigung – Mitteilungspflicht im Zusammenhang mit der Berichtigung oder Löschung personenbezogener Daten oder der Einschränkung der Verarbeitung (Artikel 19 DSGVO)</li>
    <li>Recht auf Datenübertragbarkeit (Artikel 20 DSGVO)</li>
    <li>Widerspruchsrecht (Artikel 21 DSGVO)</li>
    <li>Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung — einschließlich Profiling — beruhenden Entscheidung unterworfen zu werden (Artikel 22 DSGVO)</li>
</ul>
<p>Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich bei der Aufsichtsbehörde beschweren, welche in Österreich die Datenschutzbehörde ist, deren Webseite Sie unter <a href="https://www.dsb.gv.at/" target="_blank">https://www.dsb.gv.at/</a>finden.</p>
{{ '{{iflng}}' }}