{{ '{{iflng::de}}' }}
<h2 class="headline">Haftungsausschluss</h2>
<p>Unsere Webseite enthält Links zu anderen Webseiten für deren Inhalt wir nicht verantwortlich sind. Wenn Ihnen rechtswidrige Links auf unserer Webseite auffallen, bitte wir Sie uns zu kontakieren, Sie finden die Kontaktdaten im Impressum.</p>
{{ '{{iflng::en}}' }}
<h2 class="headline">Disclaimer</h2>
<p>Our website contains links to other websites whose content we are not responsible for. If you notice unlawful links on our website, please contact us, you will find the contact details in the imprint.</p>
{{ '{{iflng}}' }}