{{ '{{iflng::de}}' }}
<h3 class="headline">Automatische Datenspeicherung</h3>
<p>Wenn Sie heutzutage Webseiten besuchen, werden gewisse Informationen automatisch erstellt und gespeichert, so auch auf dieser Webseite.</p>
<p>Wenn Sie unsere Webseite so wie jetzt gerade besuchen, speichert unser Webserver (Computer auf dem diese Webseite gespeichert ist) automatisch Daten wie</p>
<ul>
    <li>die Adresse (URL) der aufgerufenen Webseite</li>
    <li>Browser und Browserversion</li>
    <li>das verwendete Betriebssystem</li>
    <li>die Adresse (URL) der zuvor besuchten Seiten (Referrer URL)</li>
    <li>den Hostname und die IP-Adresse des Gerätes von welchem aus zugegriffen wird</li>
    <li>Datum und Uhrzeit</li>
</ul>
<p>in Dateien (Webserver-Logfiles).</p>
<p>In der Regel werden Webserver-Logfiles zwei Wochen gespeichert und danach automatisch gelöscht. Wir geben diese Daten nicht weiter, können jedoch nicht ausschließen, dass diese Daten beim Vorliegen von rechtswidrigem Verhalten eingesehen werden.<br>
    Die Rechtsgrundlage besteht nach <a href="https://eur-lex.europa.eu/legal-content/DE/TXT/HTML/?uri=CELEX:32016R0679&from=DE&tid=211063777" target="_blank">Artikel 6  Absatz 1 f DSGVO</a> (Rechtmäßigkeit der Verarbeitung) darin, dass berechtigtes Interesse daran besteht, den fehlerfreien Betrieb dieser Webseite durch das Erfassen von Webserver-Logfiles zu ermöglichen.</p>

{{ '{{iflng::en}}' }}
<h3 class="headline">Automatic data storage</h3>
<p>Wenn Sie heutzutage Webseiten besuchen, werden gewisse Informationen automatisch erstellt und gespeichert, so auch auf dieser Webseite.</p>
<p>Wenn Sie unsere Webseite so wie jetzt gerade besuchen, speichert unser Webserver (Computer auf dem diese Webseite gespeichert ist) automatisch Daten wie</p>
<ul>
    <li>die Adresse (URL) der aufgerufenen Webseite</li>
    <li>Browser und Browserversion</li>
    <li>das verwendete Betriebssystem</li>
    <li>die Adresse (URL) der zuvor besuchten Seiten (Referrer URL)</li>
    <li>den Hostname und die IP-Adresse des Gerätes von welchem aus zugegriffen wird</li>
    <li>Datum und Uhrzeit</li>
</ul>
<p>in Dateien (Webserver-Logfiles).</p>
<p>In der Regel werden Webserver-Logfiles zwei Wochen gespeichert und danach automatisch gelöscht. Wir geben diese Daten nicht weiter, können jedoch nicht ausschließen, dass diese Daten beim Vorliegen von rechtswidrigem Verhalten eingesehen werden.<br>
    Die Rechtsgrundlage besteht nach <a href="https://eur-lex.europa.eu/legal-content/DE/TXT/HTML/?uri=CELEX:32016R0679&from=DE&tid=211063777" target="_blank">Artikel 6  Absatz 1 f DSGVO</a> (Rechtmäßigkeit der Verarbeitung) darin, dass berechtigtes Interesse daran besteht, den fehlerfreien Betrieb dieser Webseite durch das Erfassen von Webserver-Logfiles zu ermöglichen.</p>

{{ '{{iflng}}' }}