{{ '{{iflng::de}}' }}
<h3 class="headline">Hotjar Datenschutzerklärung</h3>
<p>Wir verwenden auf dieser Webseite Hotjar der Firma Limited (Level 2, St Julian’s Business Centre, 3, Elia Zammit Street, St Julian’s STJ 1000, Malta) um Besucherdaten statistisch auszuwerten. Hotjar ist ein Dienst, der das Verhalten und das Feedback von Nutzern auf Webseiten durch eine Kombination von Analyse- und Feedback-Tools analysiert. Hotjar-basierte Webseiten haben einen Tracking-Code auf ihren Webseiten integriert, der an unsere in Irland (EU) gelegenen Server übertragen wird. Dieser Tracking-Code kontaktiert die Server von Hotjar und sendet ein Skript an den Computer oder das Endgerät, mit dem Sie auf die Hotjar-basierte Webseite zugreifen. Das Skript erfasst bestimmte Daten in Bezug auf die Interaktion des Nutzers mit der entsprechenden Webseite. Diese Daten werden dann zur Verarbeitung an die Server von Hotjar gesendet.</p>
<p>Mehr Details zur Datenschutzrichtlinie und welche Daten auf welche Art durch Hotjar erfasst werden finden Sie auf <a href="https://www.hotjar.com/legal/policies/privacy" target="_blank">https://www.hotjar.com/legal/policies/privacy</a>.</p>
<h4 class="headline">Deaktivierung von Hotjar</h4>
<p>Falls Sie nicht möchten, dass Hotjar Ihre Daten erhebt, können Sie den <a href="https://www.hotjar.com/legal/compliance/opt-out" target="_blank">Hotjar Opt Out aktivieren</a>. Sie haben dort die Möglichkeit, durch einen einfachen Klick auf den roten Hotjar deaktivieren Button, die Erhebung von Daten durch Hotjar zu deaktivieren oder wieder zu aktivieren. Achtung: Das Löschen von Cookies, die Nutzung des Inkognito/Privatmodus ihres Browsers, oder die Nutzung eines anderen Browsers führt dazu, dass wieder Daten erhoben werden.</p>
{{ '{{iflng::en}}' }}
<h3>Cloudflare</h3>
<p>EN TEXT</p>
{{ '{{iflng}}' }}