{{ '{{iflng::de}}' }}
<h3 class="headline">Google reCAPTCHA Datenschutzerklärung</h3>
<p>Wir verwenden Google reCAPTCHA der Firma Google Inc. (1600 Amphitheatre Parkway Mountain View, CA 94043, USA) um Spam zu verhindern.</p>
<p>Rechtsgrundlage für die Verwendung ist Artikel 6 (1) f (Rechtmäßigkeit der Verarbeitung), denn es besteht ein berechtigtes Interesse diese Webseite vor Bots und Spam zu schützen.</p>
<p>reCAPTCHA ist ein kostenloser Dienst, der Webseiten vor Spam und Missbrauch schützt. Es nutzt fortschrittliche Risikoanalysetechniken, um Menschen und Bots auseinander zu halten. Mit der neuen API wird eine signifikante Anzahl Ihrer gültigen menschlichen Benutzer die reCAPTCHA-Herausforderung bestehen, ohne ein CAPTCHA lösen zu müssen.  Wir nutzen reCAPTCHA für die Absicherung von Formularen.</p>
<p>Durch die Nutzung von reCAPTCHA werden Daten an Google übertragen die Google nutzt um festzustellen ob der Besucher ein Mensch oder ein (Spam)bot ist. Welche Daten von Google erfasst werden und wofür diese Daten verwendet werden, können Sie auf <a href="https://policies.google.com/privacy?hl=de-AT" target="_blank">https://policies.google.com/privacy?hl=de-AT</a> nachlesen.</p>
<p>Die Nutzungsbedingungen für Dienste und Produkte von Google können Sie unter <a href="https://policies.google.com/terms?hl=de-AT" target="_blank">https://policies.google.com/terms?hl=de-AT</a> nachlesen.</p>
{{ '{{iflng::en}}' }}
<h3>Cookies</h3>
<p>EN TEXT</p>
{{ '{{iflng}}' }}