{{ '{{iflng::de}}' }}
<h3 class="headline">Urheberrechtshinweis</h3>
<p>Alle Inhalte dieser Webseite (Bilder, Fotos, Texte, Videos) unterliegen dem Urheberrecht. Falls notwendig, werden wir die unerlaubte Nutzung von Teilen der Inhalte unserer Seite rechtlich verfolgen.</p>
{{ '{{iflng::en}}' }}
<h3 class="headline">Copyright Notice</h3>
<p>All contents of this website (pictures, photos, texts, videos) are subject to copyright. If necessary, we will legally prosecute the unauthorized use of parts of the contents of our site.</p>
{{ '{{iflng}}' }}