{{ '{{iflng::de}}' }}
<h3 class="headline">Cloudflare Datenschutzerklärung</h3>
<p>Wir verwenden auf dieser Website Cloudflare der Firma Cloudflare, Inc. (101 Townsend St., San Francisco, CA 94107, USA) um die Website schneller und sicherer zu machen. Dabei verwendet Cloudflare Cookies und verarbeitet Besucherdaten über die wir Sie im Folgenden informieren.</p>
<p>Der Cookie von Cloudflare (__cfduid) wird verwendet, um einzelne Besucher hinter einer gemeinsam genutzten IP-Adresse zu identifizieren und Sicherheitseinstellungen für jeden einzelnen Besucher anzuwenden. Wenn sich ein Besucher dieser Website zum Beispiel in einem Lokal befindet, in dem sich eine Reihe infizierter Computer befinden, aber der Computer des bestimmten Besuchers vertrauenswürdig ist, können wir dies anhand des Cookies erkennen. Der Cookie entspricht keiner Benutzer-ID und speichert keine personenbezogenen Daten.<br>
Dieser Cookie ist für die Cloudflare-Sicherheitsfunktionen unbedingt erforderlich und kann nicht deaktiviert werden.</p>

<h4 class="headline">Cookies von Cloudflare</h4>
<ul>
    <li>_cfduid
        <ul>
            <li>Ablaufzeit: 1 Jahr</li>
            <li>Verwendung: Sicherheitseinstellungen für jeden einzelnen Besucher</li>
            <li>Beispielhafter Wert: d798bf7df9c1ad5b7583eda5cc5e78211063777</li>
        </ul>
    </li>
</ul>
<p>Cloudflare bietet Web-Optimierung und Sicherheitsdienste, um Websites zu verbessern und zu schützen. Dazu gehören ein Reverse-Proxy, ein Passthrough-Sicherheitsdienst und ein Content-Verteilungsnetzwerk. Cloudflare erfasst Informationen der Webseitebesucher. Diese Information kann IP-Adressen, Systemkonfigurationsinformationen und andere Informationen über den Verkehr von und zur Website umfassen, ist aber nicht darauf beschränkt. Cloudflare erfasst und verwendet Logdaten, um ihre Dienstleistungen gemäß der Kundenvereinbarungen zu betreiben, zu warten und zu verbessern. Zum Beispiel können Logdaten Cloudflare dabei helfen, neue Bedrohungen zu erkennen, böswillige Dritte zu identifizieren und dieser Website einen stabileren Sicherheitsschutz zu bieten.</p>
<p>Cloudflare ist aktiver Teilnehmer beim EU-U.S. Privacy Shield Framework wodurch der korrekte und sichere Datentransfer persönlicher Daten geregelt wird. Mehr Informationen dazu finden Sie auf <a href="https://www.privacyshield.gov/participant?id=a2zt0000000GnZKAA0" target="_blank">https://www.privacyshield.gov/participant?id=a2zt0000000GnZKAA0</a>.<br>
Mehr Informationen zum Datenschutz bei Cloudflare finden Sie auf <a href="https://www.cloudflare.com/de-de/privacypolicy/" target="_blank">https://www.cloudflare.com/de-de/privacypolicy/</a>.</p>
{{ '{{iflng::en}}' }}
<h3>Cloudflare</h3>
<p>EN TEXT</p>
{{ '{{iflng}}' }}