{{ '{{iflng::de}}' }}
<h3 class="headline">TLS-Verschlüsselung mit https</h3>
<p>Wir verwenden https um Daten abhörsicher im Internet zu übertragen. Durch den Einsatz von TLS (Transport Layer Security), einem Verschlüsselungsprotokoll zur sicheren Datenübertragung im Internet können wir den Schutz vertraulicher Daten sicherstellen. Sie erkennen die Benutzung dieser Absicherung der Datenübertragung am kleinen Schloßsymbol links oben im Browser und der Verwendung des Schemas https als Teil unserer Internetadresse.</p>
{{ '{{iflng::en}}' }}
<h3>Personal Data</h3>
<p>EN TEXT</p>
{{ '{{iflng}}' }}