{{ '{{iflng::de}}' }}
<h3 class="headline">MailChimp Auftragsdatenverarbeitung Vertrag</h3>
<p>Wir haben mit MailChimp einen Vertrag über die Auftragsdatenverarbeitung (Data Processing Addendum) abgeschlossen. Dieser Vertrag dient zur Absicherung Ihrer persönlichen Daten und stellt sicher, dass sich MailChimp an die geltenden Datenschutzbestimmungen hält und Ihre persönlichen Daten nicht an Dritte weitergibt.</p>
<p>Mehr Informationen zu diesem Vertrag finden Sie auf <a href="http://mailchimp.com/legal/forms/data-processing-agreement/" target="_blank">http://mailchimp.com/legal/forms/data-processing-agreement/</a>.</p>
{{ '{{iflng::en}}' }}
<h3>Newsletter</h3>
<p>EN TEXT</p>
{{ '{{iflng}}' }}