{{ '{{iflng::de}}' }}
<h3 class="headline">Ihre Rechte</h3>
<p>Ihnen stehen grundsätzlich die Rechte auf Auskunft, Berichtigung, Löschung, Einschränkung, Datenübertragbarkeit, Widerruf und Widerspruch zu. Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich bei der Aufsichtsbehörde beschweren. In Österreich ist dies die Datenschutzbehörde, deren Webseiten Sie unter <a href="https://www.dsb.gv.at/" target="_blank">https://www.dsb.gv.at/</a> finden.</p>
{{ '{{iflng::en}}' }}
<h3>Personal Data</h3>
<p>EN TEXT</p>
{{ '{{iflng}}' }}