{{ '{{iflng::de}}' }}
<h3 class="headline">Eingebettete Social Media Elemente Datenschutzerklärung</h3>
<p>Wir binden auf unserer Webseite Elemente von Social Media Diensten ein um Bilder, Videos und Texte anzuzeigen.<br>
Durch den Besuch von Seiten die diese Elemente darstellen, werden Daten von Ihrem Browser zum jeweiligen Social Media Dienst übertragen und dort gespeichert. Wir haben keinen Zugriff auf diese Daten.<br>
Die folgenden Links führen Sie zu den Seiten der jeweiligen Social Media Dienste wo erklärt wird, wie diese mit Ihren Daten umgehen:</p>
<ul>
    {% if socialmedia.instagram %}<li>Instagram-Datenschutzrichtlinie: <a href="https://help.instagram.com/519522125107875" target="_blank">https://help.instagram.com/519522125107875</a></li>{% endif %}#}
    {% if socialmedia.youtube %}<li>Für YouTube gilt die Google Datenschutzerklärung: <a href="https://policies.google.com/privacy?hl=de" target="_blank">https://policies.google.com/privacy?hl=de</a></li>{% endif %}#}
    {% if socialmedia.facebook %}<li>Facebook-Datenrichtline: <a href="https://www.facebook.com/about/privacy" target="_blank">https://www.facebook.com/about/privacy</a></li>{% endif %}#}
    {% if socialmedia.twitter %}<li>Twitter Datenschutzrichtlinie: <a href="https://twitter.com/de/privacy" target="_blank">https://twitter.com/de/privacy</a></li>{% endif %}#}
</ul>
{{ '{{iflng::en}}' }}
<h3 class="headline">Embedded Social Media Elements Privacy Policy</h3>
<p>Wir binden auf unserer Webseite Elemente von Social Media Diensten ein um Bilder, Videos und Texte anzuzeigen.<br>
    Durch den Besuch von Seiten die diese Elemente darstellen, werden Daten von Ihrem Browser zum jeweiligen Social Media Dienst übertragen und dort gespeichert. Wir haben keinen Zugriff auf diese Daten.<br>
    Die folgenden Links führen Sie zu den Seiten der jeweiligen Social Media Dienste wo erklärt wird, wie diese mit Ihren Daten umgehen:</p>
<ul>
    {% if socialmedia.instagram %}<li>Instagram privacy policy: <a href="https://help.instagram.com/519522125107875" target="_blank">https://help.instagram.com/519522125107875</a></li>{% endif %}#}
    {% if socialmedia.youtube %}<li>YouTube is Google's privacy policy.: <a href="https://policies.google.com/privacy?hl=de" target="_blank">https://policies.google.com/privacy?hl=de</a></li>{% endif %}#}
    {% if socialmedia.facebook %}<li>Facebook privacy policy: <a href="https://www.facebook.com/about/privacy" target="_blank">https://www.facebook.com/about/privacy</a></li>{% endif %}#}
    {% if socialmedia.twitter %}<li>Twitter privacy policy: <a href="https://twitter.com/de/privacy" target="_blank">https://twitter.com/de/privacy</a></li>{% endif %}#}
</ul>
{{ '{{iflng}}' }}