{{ '{{iflng::de}}' }}
<h3 class="headline">Haftung für Links auf dieser Webseite</h3>
<p>Unsere Webseite enthält Links zu anderen Webseiten für deren Inhalt wir nicht verantwortlich sind. Haftung für verlinkte Websites besteht laut <a href="https://www.ris.bka.gv.at/Dokument.wxe?Abfrage=Bundesnormen&Dokumentnummer=NOR40025813&tid=221064123" target="_blank">§ 17 ECG</a> für uns nicht, da wir keine Kenntnis rechtswidriger Tätigkeiten hatten und haben, uns solche Rechtswidrigkeiten auch bisher nicht aufgefallen sind und wir Links sofort entfernen würden, wenn uns Rechtswidrigkeiten bekannt werden.</p>
<p>Wenn Ihnen rechtswidrige Links auf unserer Website auffallen, bitte wir Sie uns zu kontaktieren, Sie finden die Kontaktdaten im Impressum.</p>
{{ '{{iflng::en}}' }}
<h3 class="headline">Liability for links on this website</h3>
<p>Our website contains links to other websites whose content we are not responsible for. Liability for linked websites does not exist for us according to <a href="https://www.ris.bka.gv.at/Dokument.wxe?Abfrage=Bundesnormen&Dokumentnummer=NOR40025813&tid=221064123" target="_blank">§ 17 ECG</a>, since we had no knowledge of unlawful activities and we have noticed such illegality also so far and we would remove links immediately if we become aware of illegalities.</p>
<p>If you notice unlawful links on our website, please contact us, you will find the contact details in the imprint.</p>
{{ '{{iflng}}' }}