{{ '{{iflng::de}}' }}
<h3 class="headline">MailChimp Datenschutzerklärung</h3>
<p>Wir versenden Newsletter mit MailChimp und verwenden auf dieser Webseite Funktionen des Newsletter Dienstes MailChimp der Firma The Rocket Science Group, LLC, 675 Ponce de Leon Ave NE, Suite 5000, Atlanta, GA 30308 USA um Newsletter-Anmeldungen zu erfassen.</p>

<h4 class="headline">Allgemeine Informationen zu MailChimp</h4>
<p>Die Rocket Science Group LLC (MailChimp) unterhält Online-Plattformen, die es unseren Nutzern ermöglichen, in Kontakt mit ihren Abonnenten zu bleiben, in erster Linie per E-Mail. Sie erlauben Benutzern, E-Mail-Adressen und andere Informationen zum Abonnentenprofil, wie z. B. Name, physische Adresse und andere demografische Informationen, in die MailChimp Datenbank hochzuladen. Diese Informationen werden verwendet, um E-Mails zu senden und die Verwendung bestimmter anderer MailChimp-Funktionen für diese Benutzer zu ermöglichen. In Übereinstimmung mit den veröffentlichten Datenschutzrichtlinien teilt MailChimp einige Informationen mit Drittanbietern, um die Dienste bereitzustellen und zu unterstützen, die MailChimp den Nutzern anbietet. MailChimp teilt auch einige Informationen mit Werbepartnern von Drittanbietern, um die Bedürfnisse und Interessen der Nutzer besser zu verstehen, damit relevantere Inhalte und zielgerichtete Werbung für diese Nutzer und andere Nutzer bereitgestellt werden können.</p>

<h4 class="headline">Newsletter Anmeldung</h4>
<p>Wenn Sie auf unserer Webseite für unseren Newsletter anmelden, werden die eingegebenen Daten bei MailChimp gespeichert.</p>

<h4 class="headline">Löschung Ihrer Daten</h4>
<p>Sie können Ihre Zustimmung für den Erhalt unseres Newsletters jederzeit innerhalb der empfangenen E-Mail per Klick auf den Link im unteren Bereich entziehen. Wenn Sie sich mittels Klick auf den Abmeldelink abgemeldet haben, werden Ihre Daten bei MailChimp gelöscht.</p>

<h4 class="headline">Newsletter Auswertung</h4>
<p>Wenn Sie einen Newsletter über MailChimp erhalten, werden Informationen wie IP-Adresse, Browsertyp und E-Mail-Programm gespeichert um uns Informationen zur Performance unseres Newsletters zu geben. MailChimp kann mittels den in den HTML-E-Mails integrierten Bildern namens Web Beacons (Details finden Sie auf <a href="https://kb.mailchimp.com/reports/about-open-tracking" target="_blank">https://kb.mailchimp.com/reports/about-open-tracking</a>) feststellen ob die E-Mail angekommen ist, ob sie geöffnet wurde und ob Links angeklickt wurden. All diese Informationen werden auf den Servern von MailChimp gespeichert, nicht auf dieser Webseite.</p>
<p>MailChimp ist aktiver Teilnehmer beim EU-U.S. Privacy Shield Framework wodurch der korrekte und sichere Datentransfer persönlicher Daten geregelt wird. Mehr Informationen dazu finden Sie auf <a href="https://www.privacyshield.gov/participant?id=a2zt0000000TO6hAAG" target="_blank">https://www.privacyshield.gov/participant?id=a2zt0000000TO6hAAG</a>. Mehr über den Einsatz von Cookies bei MailChimp erfahren Sie auf <a href="https://mailchimp.com/legal/cookies/" target="_blank">https://mailchimp.com/legal/cookies/</a>, Informationen zum Datenschutz bei MailChimp (Privacy) können Sie auf <a href="https://mailchimp.com/legal/privacy/" target="_blank">https://mailchimp.com/legal/privacy/</a> nachlesen.</p>
{{ '{{iflng::en}}' }}
<h3>Newsletter</h3>
<p>EN TEXT</p>
{{ '{{iflng}}' }}