{{ '{{iflng::de}}' }}
<h3 class="headline">Google Fonts Datenschutzerklärung</h3>
<p>Wir verwenden Google Fonts der Firma Google Inc. (1600 Amphitheatre Parkway Mountain View, CA 94043, USA) auf unserer Webseite. Die Verwendung von Google Fonts erfolgt ohne Authentisierung und es werden keine Cookies and die Google Fonts API gesendet. Sollten Sie ein Konto bei Google haben, werden keine Ihrer Google-Kontodaten an Google während der Nutzung von Google Fonts übermittelt. Google erfasst lediglich die Nutzung von CSS und der verwendeten Fonts und speichert diese Daten sicher. Mehr zu diesen und weiteren Fragen finden Sie auf <a href="https://developers.google.com/fonts/faq" target="_blank">https://developers.google.com/fonts/faq</a>.</p>
<p>Welche Daten von Google erfasst werden und wofür diese Daten verwendet werden, können Sie auf <a href="https://www.google.com/intl/de/policies/privacy/" target="_blank">https://www.google.com/intl/de/policies/privacy/</a> nachlesen.</p>
{{ '{{iflng::en}}' }}
<h3>Personal Data</h3>
<p>EN TEXT</p>
{{ '{{iflng}}' }}