{{ '{{iflng::de}}' }}
<h3 class="headline">EU-Streitschlichtung</h3>
<p>Angaben zur Online-Streitbeilegung: Verbraucher haben die Möglichkeit, Beschwerden an die OnlineStreitbeilegungsplattform der EU zu richten: <a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=DE" target="_blank">https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=DE</a>. Sie können allfällige Beschwerde auch an die oben angegebene E-Mail-Adresse richten.</p>
{{ '{{iflng::en}}' }}
<p>EN TEXT</p>
{{ '{{iflng}}' }}