{{ '{{iflng::de}}' }}
<h1 class="headline">Datenschutzerklärung</h1>
<p>Informationen zum Datenschutz finden Sie auf unserer Unterseite <a href="{{ content.linkToPrivacyPolicy }}">Datenschutzerklärung</a>.</p>
{{ '{{iflng::en}}' }}
<h2>Privacy Policy</h2>
<p>Information on data protection can be found on our subpage <a href="{{ content.linkToPrivacyPolicy }}">privacy policy</a>.</p>
{{ '{{iflng}}' }}