{{ '{{iflng::de}}' }}
<h3 class="headline">Google Maps Datenschutzerklärung</h3>
<p>Wir verwenden Google Maps der Firma Google Inc. (1600 Amphitheatre Parkway Mountain View, CA 94043, USA) auf unserer Webseite.</p>
<p>Durch die Nutzung der Funktionen dieser Karte werden Daten an Google übertragen. Welche Daten von Google erfasst werden und wofür diese Daten verwendet werden, können Sie auf <a href="https://www.google.com/intl/de/policies/privacy/" target="_blank">https://www.google.com/intl/de/policies/privacy/</a> nachlesen.</p>
{# <p>Diese Webseite verwendet Google Maps für die Darstellung von Karteninformationen. Bei der Nutzung von Google Maps werden von Google auch Daten über die Nutzung der Maps-Funktionen durch Besucher der Webseiten erhoben, verarbeitet und genutzt. Nähere Informationen über die Datenverarbeitung durch Google können Sie den Datenschutzhinweisen von Google auf <a href="https://www.google.at/intl/de/policies/privacy/" target="_blank">https://www.google.at/intl/de/policies/privacy/</a> entnehmen. Dort können Sie im Datenschutzcenter auch Ihre Einstellungen verändern, so dass Sie Ihre Daten verwalten und schützen können.</p> #}
{{ '{{iflng::en}}' }}
<h3>Google Maps</h3>
<p>EN TEXT</p>
{{ '{{iflng}}' }}