{{ '{{iflng::de}}' }}
<h3 class="headline">Cookies</h3>
<p>Unsere Website verwendet HTTP-Cookies um nutzerspezifische Daten zu speichern.<br>
Ein Cookie ist ein kurzes Datenpaket, welches zwischen Webbrowser und Webserver ausgetauscht wird, für diese aber völlig bedeutungslos ist und erst für die Webanwendung, z. B. einen Online-Shop, eine Bedeutung erhält, etwa den Inhalt eines virtuellen Warenkorbes.</p>
<p>Es gibt zwei Arten von Cookies: Erstanbieter-Cookies werden von unserer Website erstellt, Drittanbieter-Cookies werden von anderen Websites (z. B. Google Analytics) erstellt.<br>
Man unterscheidet drei Kategorien von Cookies: unbedingt notwendige Cookies um grundlegende Funktionen der Website sicherzustellen, funktionelle Cookies um die Leistung der Webseite sicherzustellen und zielorientierte Cookies um das Benutzererlebnis zu verbessern.</p>
<p>Wir nutzen Cookies, um unsere Webseite nutzerfreundlicher zu gestalten. Einige Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese löschen. Sie ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.</p>

<h4 class="headline">Cookie Einstellungen sehen und Cookies löschen</h4>
<p>Wenn Sie feststellen möchten, welche Cookies in Ihrem Browser gespeichert wurden, Cookie-Einstellungen ändern oder Cookies löschen möchten, können Sie dies in Ihren Browser-Einstellungen finden:</p>
<ul>
    <li><a href="https://support.apple.com/kb/ph21411?locale=de_AT" target="_blank">Safari: Verwalten von Cookies und Websitedaten mit Safari</a></li>
    <li><a href="https://support.mozilla.org/de/kb/cookies-loeschen-daten-von-websites-entfernen" target="_blank">Firefox: Cookies löschen, um Daten zu entfernen, die Websites auf Ihrem Computer abgelegt haben</a></li>
    <li><a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=de" target="_blank">Chrome: Cookies in Chrome löschen, aktivieren und verwalten</a></li>
    <li><a href="https://support.microsoft.com/de-at/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">Internet Explorer: Löschen und Verwalten von Cookies</a></li>
</ul>
<p>Wenn Sie die Speicherung von Daten in Cookies nicht wünschen, so können Sie Ihren Browser so einrichten, dass er Sie über das Setzen von Cookies informiert und Sie dies nur im Einzelfall erlauben. Sie können jederzeit Cookies, die sich bereits auf Ihrem Computer befinden, löschen oder Cookies deaktivieren. Die Vorgangsweise dazu ist nach Browser unterschiedlich, am besten Sie suchen die Anleitung in Google mit dem Suchbegriff “Cookies löschen Chrome” oder „Cookies deaktivieren Chrome“ im Falle eines Chrome Browsers oder tauschen das Wort „Chrome“ gegen den Namen Ihres Browsers, z. B. Edge, Firefox, Safari aus.<br>
Wenn Sie uns generell nicht gestatten, Cookies zu nutzen, d.h. diese per Browsereinstellung deaktivieren, können manche Funktionen und Seiten nicht wie erwartet funktionieren.</p>
{{ '{{iflng::en}}' }}
<h3 class="headline">Cookies</h3>
<p>Unsere Website verwendet HTTP-Cookies um nutzerspezifische Daten zu speichern.<br>
    Ein Cookie ist ein kurzes Datenpaket, welches zwischen Webbrowser und Webserver ausgetauscht wird, für diese aber völlig bedeutungslos ist und erst für die Webanwendung, z. B. einen Online-Shop, eine Bedeutung erhält, etwa den Inhalt eines virtuellen Warenkorbes.</p>
<p>Es gibt zwei Arten von Cookies: Erstanbieter-Cookies werden von unserer Website erstellt, Drittanbieter-Cookies werden von anderen Websites (z. B. Google Analytics) erstellt.<br>
    Man unterscheidet drei Kategorien von Cookies: unbedingt notwendige Cookies um grundlegende Funktionen der Website sicherzustellen, funktionelle Cookies um die Leistung der Webseite sicherzustellen und zielorientierte Cookies um das Benutzererlebnis zu verbessern.</p>
<p>Wir nutzen Cookies, um unsere Webseite nutzerfreundlicher zu gestalten. Einige Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese löschen. Sie ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.</p>

<h4 class="headline">Cookie Einstellungen sehen und Cookies löschen</h4>
<p>Wenn Sie feststellen möchten, welche Cookies in Ihrem Browser gespeichert wurden, Cookie-Einstellungen ändern oder Cookies löschen möchten, können Sie dies in Ihren Browser-Einstellungen finden:</p>
<ul>
    <li><a href="https://support.apple.com/kb/ph21411?locale=de_AT" target="_blank">Safari: Verwalten von Cookies und Websitedaten mit Safari</a></li>
    <li><a href="https://support.mozilla.org/de/kb/cookies-loeschen-daten-von-websites-entfernen" target="_blank">Firefox: Cookies löschen, um Daten zu entfernen, die Websites auf Ihrem Computer abgelegt haben</a></li>
    <li><a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=de" target="_blank">Chrome: Cookies in Chrome löschen, aktivieren und verwalten</a></li>
    <li><a href="https://support.microsoft.com/de-at/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">Internet Explorer: Löschen und Verwalten von Cookies</a></li>
</ul>
<p>Wenn Sie die Speicherung von Daten in Cookies nicht wünschen, so können Sie Ihren Browser so einrichten, dass er Sie über das Setzen von Cookies informiert und Sie dies nur im Einzelfall erlauben. Sie können jederzeit Cookies, die sich bereits auf Ihrem Computer befinden, löschen oder Cookies deaktivieren. Die Vorgangsweise dazu ist nach Browser unterschiedlich, am besten Sie suchen die Anleitung in Google mit dem Suchbegriff “Cookies löschen Chrome” oder „Cookies deaktivieren Chrome“ im Falle eines Chrome Browsers oder tauschen das Wort „Chrome“ gegen den Namen Ihres Browsers, z. B. Edge, Firefox, Safari aus.<br>
    Wenn Sie uns generell nicht gestatten, Cookies zu nutzen, d.h. diese per Browsereinstellung deaktivieren, können manche Funktionen und Seiten nicht wie erwartet funktionieren.</p>
{{ '{{iflng}}' }}