{% if(enableFooter) %}
    <div class="footer-container">
        <div class="footer-container-inside">

            {% if(addLeftButton) %}
                <div class="btn-element">
                    <div class="btn-element-inside">{{ leftButtonTitle }}</div>
                </div>
            {% endif %}

            {% if(addLeftText) %}
                <div class="text-element">
                    {{ renderedLeftText|raw }}
                </div>
            {% endif %}

            {% if(addMiddleSocialmedia) %}
                {{ renderedMiddleSocialmedia|raw }}
            {% endif %}

            {% if(addRightNavigation or addRightText) %}
                <div class="footer-right-box">
                    <div class="footer-right-box-inside">

                        {% if(addRightNavigation) %}
                            {{ renderedRightNavigation|raw }}
                        {% endif %}

                        {% if(addRightText) %}
                            <div class="text-element">
                                {{ renderedRightText|raw }}
                            </div>
                        {% endif %}

                    </div>
                </div>
            {% endif %}

        </div>
    </div>
{% endif %}