{% if(enableHeaderTopBar) %}
    <div class="header-topbar">
        <div class="header-topbar-inside">

            {% if(addContactLinks) %}
                <div class="topbar-contact-list">
                    {{ renderedContactLinks|raw }}
                </div>
            {% endif %}

            {% if(addSocialmedia) %}
                {{ renderedSocialmedia|raw }}
            {% endif %}

            {% if(addLogin) %}
                {{ renderedLogin|raw }}
            {% endif %}

            {% if(addMenuDropdown) %}
                {{ renderedMenuDropdown|raw }}
            {% endif %}

        </div>
    </div>
{% endif %}

{% if(enableHeaderBar) %}
    <div class="header-bar">
        <div class="header-bar-inside">

            {% if(addLogo) %}
                <div class="logo">
                    {{ renderedLogo|raw }}
                </div>
            {% endif %}

            <div class="header-bar-right">

                {% if(addSearch) %}
                    <div class="search">
                        {{ renderedSearch|raw }}
                    </div>
                {% endif %}

                {% if(addNavigation) %}
                    <div class="navigation">
                        {{ renderedNavigation|raw }}
                    </div>
                {% endif %}

            </div>

        </div>
    </div>
{% endif %}