{{ '{{iflng::de}}' }}
<h1>{{ content.headline|default("Impressum") }}</h1>
<p>Informationspflicht laut ยง5 E-Commerce Gesetz, ยง14 Unternehmensgesetzbuch, ยง63 Gewerbeordnung und Offenlegungspflicht laut ยง25 Mediengesetz</p>
<p><strong>{{ content.companyName }}</strong></p>
{{ '{{iflng::en}}' }}
<h1>Imprint</h1>
<p>EN TEXT</p>
{{ '{{iflng}}' }}

