{{ '{{iflng::de}}' }}
<h2>Datenschutzerklärung</h2>
<p>Wir legen großen Wert auf den Schutz Ihrer Daten. Um Sie in vollem Umfang über die Verwendung personenbezogener Daten zu informieren, bitten wir Sie die folgenden Datenschutzhinweise zur Kenntnis zu nehmen.</p>
{{ '{{iflng::en}}' }}
<h2>Privacy Policy</h2>
<p>EN TEXT</p>
{{ '{{iflng}}' }}